<h1>
<strong><%= identifier.capitalize %></strong>
</h1>
<h3>Url Breakdown</h3>
<div class="row">
  <div class="col-md-12">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Frequency: </th>
          <th>Url: </th>
        </tr>
        <tbody>
        <% sorted_urls.each do |url| %>
          <tr>
            <td><%= url[1] %></td>
            <td><a href="/sources/jumpstartlab/urls/><%= URI(url[0]).path %>"</a><%= url[0] %></td>
          </tr>
        <% end %>
        </tbody>
      </thead>
    </table>
  </div>
</div>


<h3>Browser Breakdown</h3>
<div class="row">
  <div class="col-md-12">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Frequency: </th>
          <th>Browser: </th>
        </tr>
        <tbody>
          <% web_browser_breakdown.each do |browser| %>
          <tr>
            <td><%= browser[1] %></td>
            <td><%= browser[0] %></td>
          </tr>
          <% end %>
        </tbody>
      </thead>
    </table>
  </div>
</div>

<h3>Operating System Breakdown</h3>
<div class="row">
  <div class="col-md-12">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Frequency: </th>
          <th>OS: </th>
        </tr>
        <tbody>
          <% os_browser_breakdown.each do |browser| %>
          <tr>
            <td><%= browser[1] %></td>
            <td><%= browser[0] %></td>
          </tr>
          <% end %>
        </tbody>
      </thead>
    </table>
  </div>
</div>

<h3>Resolution Breakdown</h3>
<div class="row">
  <div class="col-md-12">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Frequency: </th>
          <th>Resolution: </th>
        </tr>
        <tbody>
          <% sorted_resolutions.each do |resolution| %>
          <tr>
            <td><%= resolution[1] %></td>
            <td><%= resolution[0] %></td>
          </tr>
          <% end %>
        </tbody>
      </thead>
    </table>
  </div>
</div>

<h3>Urls and Avg Response Times Breakdown</h3>
<div class="row">
  <div class="col-md-12">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Avg Response Time: </th>
          <th>URL </th>
        </tr>
        <tbody>
          <% urls_and_times.each do |url_and_time| %>
          <tr>
            <td><%= url_and_time.values.pop %></td>
            <td><%= url_and_time.keys.pop %></td>
          </tr>
          <% end %>
        </tbody>
      </thead>
    </table>
  </div>
</div>
